# **Spark HW2 Movie Recommendation**
In this notebook, we will use an Alternating Least Squares (ALS) algorithm with Spark APIs to predict the ratings for the movies in [MovieLens small dataset](https://grouplens.org/datasets/movielens/latest/)

# Spark Setup

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,468 kB]
Get:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [21.1 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,564 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [783 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,825 kB]
Get:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [917 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,247 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [935 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [816 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.0 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,004 kB]
Get:27 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [42.8 kB]
Fetched 14.9 MB in 3s (4,312 kB/s)
Reading package lists... Done

In [2]:
!pip install -q findspark
!pip install py4j

!export JAVA_HOME=$(/usr/lib/jvm/java-8-openjdk-amd64 -v 1.8)
! echo $JAVA_HOME
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
import findspark
findspark.init("spark-3.2.1-bin-hadoop3.2")# SPARK_HOME


from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Collecting py4j
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 25.4 MB/s
Installing collected packages: py4j
Successfully installed py4j-0.10.9.3
/bin/bash: /usr/lib/jvm/java-8-openjdk-amd64: Is a directory

In [3]:
spark.version

'3.2.1'

# Data ETL and Data Exploration

In [4]:
# load packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math

import os
os.environ["PYSPARK_PYTHON"] = "python3"

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
!unzip "/content/drive/MyDrive/ml-latest-small.zip"

Archive:  /content/drive/MyDrive/ml-latest-small.zip
   creating: ml-latest-small/
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

In [7]:
movies_df = spark.read.load("/content/ml-latest-small/movies.csv", format='csv', header = True)
ratings_df = spark.read.load("/content/ml-latest-small/ratings.csv", format='csv', header = True)
links_df = spark.read.load("/content/ml-latest-small/links.csv", format='csv', header = True)
tags_df = spark.read.load("/content/ml-latest-small/tags.csv", format='csv', header = True)

In [8]:
movies_df.show(5)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

In [9]:
ratings_df.show(5)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
+------+-------+------+---------+
only showing top 5 rows

In [10]:
links_df.show(5)

+-------+-------+------+
|movieId| imdbId|tmdbId|
+-------+-------+------+
|      1|0114709|   862|
|      2|0113497|  8844|
|      3|0113228| 15602|
|      4|0114885| 31357|
|      5|0113041| 11862|
+-------+-------+------+
only showing top 5 rows

In [11]:
tags_df.show(5)

+------+-------+---------------+----------+
|userId|movieId|            tag| timestamp|
+------+-------+---------------+----------+
|     2|  60756|          funny|1445714994|
|     2|  60756|Highly quotable|1445714996|
|     2|  60756|   will ferrell|1445714992|
|     2|  89774|   Boxing story|1445715207|
|     2|  89774|            MMA|1445715200|
+------+-------+---------------+----------+
only showing top 5 rows

In [12]:
tmp1 = ratings_df.groupBy("userID").count().toPandas()['count'].min()
tmp2 = ratings_df.groupBy("movieId").count().toPandas()['count'].min()
print('For the users that rated movies and the movies that were rated:')
print('Minimum number of ratings per user is {}'.format(tmp1))
print('Minimum number of ratings per movie is {}'.format(tmp2))

For the users that rated movies and the movies that were rated:
Minimum number of ratings per user is 20
Minimum number of ratings per movie is 1

In [13]:
tmp1 = sum(ratings_df.groupBy("movieId").count().toPandas()['count'] == 1)
tmp2 = ratings_df.select('movieId').distinct().count()
print('{} out of {} movies are rated by only one user'.format(tmp1, tmp2))

3446 out of 9724 movies are rated by only one user

# Part 1: Spark SQL and OLAP

In [14]:
movies_df.registerTempTable("movies")
ratings_df.registerTempTable("ratings")
links_df.registerTempTable("links")
tags_df.registerTempTable("tags")

spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

### Q1: The number of Users

In [15]:
q1_result = spark.sql('SELECT count(DISTINCT userID) AS Number_of_Users FROM ratings')
q1_result.show()

+---------------+
|Number_of_Users|
+---------------+
|            610|
+---------------+

### Q2: The number of movies

In [16]:
q2_result = spark.sql('SELECT count(DISTINCT movieId) AS Number_of_Movies FROM movies')
q2_result.show()

+----------------+
|Number_of_Movies|
+----------------+
|            9742|
+----------------+

### Q3: How many movies are rated by users? List movies not rated before

In [17]:
q3_result_1 = spark.sql('SELECT count(DISTINCT movieId) AS Number_of_Rated_Movies FROM ratings')
q3_result_1.show()

+----------------------+
|Number_of_Rated_Movies|
+----------------------+
|                  9724|
+----------------------+

In [18]:
movie_not_rated = '''
SELECT movieId, title
FROM movies
WHERE movieId not in
(SELECT movieId FROM ratings)
'''
q3_result_2 = spark.sql(movie_not_rated)
q3_result_2.show()

+-------+--------------------+
|movieId|               title|
+-------+--------------------+
|   1076|Innocents, The (1...|
|   2939|      Niagara (1953)|
|   3338|For All Mankind (...|
|   3456|Color of Paradise...|
|   4194|I Know Where I'm ...|
|   5721|  Chosen, The (1981)|
|   6668|Road Home, The (W...|
|   6849|      Scrooge (1970)|
|   7020|        Proof (1991)|
|   7792|Parallax View, Th...|
|   8765|This Gun for Hire...|
|  25855|Roaring Twenties,...|
|  26085|Mutiny on the Bou...|
|  30892|In the Realms of ...|
|  32160|Twentieth Century...|
|  32371|Call Northside 77...|
|  34482|Browning Version,...|
|  85565|  Chalet Girl (2011)|
+-------+--------------------+

### Q4: List movie genres

In [19]:
q4_query = '''
SELECT EXPLODE(split(genres, '[|]')) AS genres
FROM movies
'''
q4_result = spark.sql(q4_query)
q4_result.show()

+---------+
|   genres|
+---------+
|Adventure|
|Animation|
| Children|
|   Comedy|
|  Fantasy|
|Adventure|
| Children|
|  Fantasy|
|   Comedy|
|  Romance|
|   Comedy|
|    Drama|
|  Romance|
|   Comedy|
|   Action|
|    Crime|
| Thriller|
|   Comedy|
|  Romance|
|Adventure|
+---------+
only showing top 20 rows

### Q5: Movie for each category

In [20]:
q5_query = '''
SELECT genres, count(*) AS Num_Movies
FROM (SELECT movieId, title, EXPLODE(split(genres, '[|]')) AS genres
FROM movies)
GROUP BY genres
ORDER BY Num_Movies DESC
'''
spark.sql(q5_query).show()

+------------------+----------+
|            genres|Num_Movies|
+------------------+----------+
|             Drama|      4361|
|            Comedy|      3756|
|          Thriller|      1894|
|            Action|      1828|
|           Romance|      1596|
|         Adventure|      1263|
|             Crime|      1199|
|            Sci-Fi|       980|
|            Horror|       978|
|           Fantasy|       779|
|          Children|       664|
|         Animation|       611|
|           Mystery|       573|
|       Documentary|       440|
|               War|       382|
|           Musical|       334|
|           Western|       167|
|              IMAX|       158|
|         Film-Noir|        87|
|(no genres listed)|        34|
+------------------+----------+

In [21]:
from pyspark.sql.functions import udf
concat_movies = lambda x: ','.join(x)
spark.udf.register('concat_movies', concat_movies)

q5_query_2 = '''
SELECT genres, concat_movies(collect_set(title)) AS MovieList
FROM (SELECT movieId, title, EXPLODE(split(genres, '[|]')) AS genres
FROM movies)
GROUP BY genres
ORDER BY genres
'''
spark.sql(q5_query_2).show()

+------------------+--------------------+
|            genres|           MovieList|
+------------------+--------------------+
|(no genres listed)|T2 3-D: Battle Ac...|
|            Action|Stealing Rembrand...|
|         Adventure|Ice Age: Collisio...|
|         Animation|Ice Age: Collisio...|
|          Children|Ice Age: Collisio...|
|            Comedy|Hysteria (2011),H...|
|             Crime|Stealing Rembrand...|
|       Documentary|The Barkley Marat...|
|             Drama|Airport '77 (1977...|
|           Fantasy|Masters of the Un...|
|         Film-Noir|Rififi (Du rififi...|
|            Horror|Underworld: Rise ...|
|              IMAX|Harry Potter and ...|
|           Musical|U2: Rattle and Hu...|
|           Mystery|Before and After ...|
|           Romance|Vampire in Brookl...|
|            Sci-Fi|Push (2009),SORI:...|
|          Thriller|Element of Crime,...|
|               War|General, The (192...|
|           Western|Man Who Shot Libe...|
+------------------+--------------------+

# Part2: Spark ALS based approach for training model
We will use an Spark ML to predict the ratings, so let's reload "ratings.csv" using ``sc.textFile`` and then convert it to the form of (user, item, rating) tuples.

In [22]:
ratings_df.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
|     1|    349|   4.0|964982563|
+------+-------+------+---------+
only showing top 20 rows

In [23]:
movie_ratings=ratings_df.drop('timestamp')

In [24]:
# Data type convert
from pyspark.sql.types import IntegerType, FloatType
movie_ratings = movie_ratings.withColumn("userId", movie_ratings["userId"].cast(IntegerType()))
movie_ratings = movie_ratings.withColumn("movieId", movie_ratings["movieId"].cast(IntegerType()))
movie_ratings = movie_ratings.withColumn("rating", movie_ratings["rating"].cast(FloatType()))

In [25]:
movie_ratings.show()

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|      1|   4.0|
|     1|      3|   4.0|
|     1|      6|   4.0|
|     1|     47|   5.0|
|     1|     50|   5.0|
|     1|     70|   3.0|
|     1|    101|   5.0|
|     1|    110|   4.0|
|     1|    151|   5.0|
|     1|    157|   5.0|
|     1|    163|   5.0|
|     1|    216|   5.0|
|     1|    223|   3.0|
|     1|    231|   5.0|
|     1|    235|   4.0|
|     1|    260|   5.0|
|     1|    296|   3.0|
|     1|    316|   3.0|
|     1|    333|   5.0|
|     1|    349|   4.0|
+------+-------+------+
only showing top 20 rows

## ALS Model Selection and Evaluation
With the ALS model, we can use a grid search to find the optimal hyperparameters.

In [26]:
# import package
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import CrossValidator,ParamGridBuilder

In [27]:
#Create test and train set
(training,test)=movie_ratings.randomSplit([0.8,0.2])

In [28]:
#Create ALS model
als = ALS(maxIter=5, rank=10, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",
          coldStartStrategy="drop")

In [29]:
#Tune model using ParamGridBuilder
param_grid = ParamGridBuilder() \
            .addGrid(als.rank, [5, 20, 80]) \
            .addGrid(als.maxIter, [1, 5, 10]) \
            .addGrid(als.regParam, [0.05, 0.1, 0.5]) \
            .build()

In [30]:
# Build and fit the recommendation model using ALS on the training data
#model = als.fit(training)
# Generate predictions on test data
#predictions = model.transform(test)

In [31]:
# Define evaluator as RMSE
# Tell Spark how to evaluate predictions
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")

In [32]:
# Build Cross validation
cv = CrossValidator(estimator = als, estimatorParamMaps = param_grid, evaluator = evaluator, numFolds = 5)

In [33]:
#Fit ALS model to training data
cvModel = cv.fit(training)

In [34]:
#Extract best model from the tuning exercise using ParamGridBuilder
bestModel = cvModel.bestModel

# Model Testing
And finally, make a prediction and check the testing error.

In [35]:
predictions = bestModel.transform(training)
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 0.4516656450482216

In [36]:
#Print evaluation metrics and model parameters
print('---Best Model---')
print('Rank: ', bestModel._java_obj.parent().getRank())
print('regParam: ', bestModel._java_obj.parent().getRegParam())
print('maxIter: ', bestModel._java_obj.parent().getMaxIter())

---Best Model---
Rank:  80
regParam:  0.1
maxIter:  10

In [37]:
predictions.show()

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|   148|   1197|   3.0| 3.5508718|
|   148|   4896|   4.0|  3.779701|
|   148|   4993|   3.0| 3.1318376|
|   148|   5618|   3.0|  3.370928|
|   148|   5816|   4.0| 3.7675152|
|   148|   5952|   3.0|  3.150608|
|   148|   7153|   3.0| 3.2662375|
|   148|   8368|   4.0| 3.9628048|
|   148|  40629|   5.0| 4.2056103|
|   148|  44191|   4.0| 3.6175473|
|   148|  50872|   3.0|  3.458837|
|   148|  54001|   4.0| 3.7767105|
|   148|  60069|   4.5| 3.9827845|
|   148|  68954|   4.0| 4.0239353|
|   148|  69757|   3.5| 3.5186436|
|   148|  69844|   4.0| 3.8859644|
|   148|  72998|   4.0| 3.5891728|
|   148|  79132|   1.5| 2.9572644|
|   148|  79702|   4.0|  3.763425|
|   148|  81834|   4.0| 4.0631843|
+------+-------+------+----------+
only showing top 20 rows

## Model Apply and see the performance

In [38]:
alldata = bestModel.transform(movie_ratings)
rmse = evaluator.evaluate(alldata)
print ("RMSE = "+str(rmse))

RMSE = 0.560407733578558

In [39]:
alldata.createOrReplaceTempView("alldata")

In [40]:
spark.sql("Select * From alldata").show()

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|   463|   1088|   3.5| 3.3214397|
|   137|   1580|   3.5| 3.2332358|
|   580|   1580|   4.0| 3.5752473|
|   580|   3175|   2.5|  3.191332|
|   580|  44022|   3.5| 3.4787579|
|   133|    471|   4.0| 3.4408293|
|   322|   1580|   3.5|  3.116364|
|   362|   1591|   4.0|  3.337042|
|   362|   1645|   5.0| 3.9485297|
|   593|   1580|   1.5| 2.3164692|
|   597|    471|   2.0| 2.7939858|
|   597|   1580|   3.0|   3.27649|
|   597|   1959|   4.0| 3.9473586|
|   597|   2366|   5.0| 3.8442469|
|   108|   1959|   5.0| 4.5452566|
|   155|   1580|   4.0| 3.9446092|
|   155|   3175|   4.0| 3.8770685|
|    34|   1580|   2.5| 2.9747825|
|    34|   3997|   2.0| 1.8643966|
|   368|   1580|   3.0| 2.9085107|
+------+-------+------+----------+
only showing top 20 rows

In [41]:
spark.sql('select * from movies join alldata on movies.movieId=alldata.movieId').show()

+-------+--------------------+--------------------+------+-------+------+----------+
|movieId|               title|              genres|userId|movieId|rating|prediction|
+-------+--------------------+--------------------+------+-------+------+----------+
|    356| Forrest Gump (1994)|Comedy|Drama|Roma...|   148|    356|   4.0|   3.72073|
|   1197|Princess Bride, T...|Action|Adventure|...|   148|   1197|   3.0| 3.5508718|
|   4308| Moulin Rouge (2001)|Drama|Musical|Rom...|   148|   4308|   4.0| 3.0344296|
|   4886|Monsters, Inc. (2...|Adventure|Animati...|   148|   4886|   3.0|  3.784968|
|   4896|Harry Potter and ...|Adventure|Childre...|   148|   4896|   4.0|  3.779701|
|   4993|Lord of the Rings...|   Adventure|Fantasy|   148|   4993|   3.0| 3.1318376|
|   5618|Spirited Away (Se...|Adventure|Animati...|   148|   5618|   3.0|  3.370928|
|   5816|Harry Potter and ...|   Adventure|Fantasy|   148|   5816|   4.0| 3.7675152|
|   5952|Lord of the Rings...|   Adventure|Fantasy|   148|   5952|   3.0|  3.150608|
|   6377| Finding Nemo (2003)|Adventure|Animati...|   148|   6377|   3.0| 4.0429554|
|   7153|Lord of the Rings...|Action|Adventure|...|   148|   7153|   3.0| 3.2662375|
|   8368|Harry Potter and ...|Adventure|Fantasy...|   148|   8368|   4.0| 3.9628048|
|  30816|Phantom of the Op...|Drama|Musical|Rom...|   148|  30816|   5.0| 2.8638778|
|  31658|Howl's Moving Cas...|Adventure|Animati...|   148|  31658|   4.0|  3.580394|
|  40629|Pride & Prejudice...|       Drama|Romance|   148|  40629|   5.0| 4.2056103|
|  40815|Harry Potter and ...|Adventure|Fantasy...|   148|  40815|   4.0|  3.588995|
|  44191|V for Vendetta (2...|Action|Sci-Fi|Thr...|   148|  44191|   4.0| 3.6175473|
|  50872|  Ratatouille (2007)|Animation|Childre...|   148|  50872|   3.0|  3.458837|
|  54001|Harry Potter and ...|Adventure|Drama|F...|   148|  54001|   4.0| 3.7767105|
|  60069|       WALL·E (2008)|Adventure|Animati...|   148|  60069|   4.5| 3.9827845|
+-------+--------------------+--------------------+------+-------+------+----------+
only showing top 20 rows

# Recommend movie to users with id: 575, 232

In [56]:
def topKRec(k,id,model):
  #k: the number of movies to recommend
  #id: the id of the user to give recommendations
  #model: the trained model for recommendation

  all_recs_df = model.recommendForAllUsers(k)
  all_recs_df.registerTempTable('all_recs')
  all_recs_clean = spark.sql('SELECT userId, idNrating.movieId AS movieId, idNrating.rating AS prediction\
  FROM all_recs\
  LATERAL VIEW explode(recommendations) exploded_table AS idNrating')

  temp = all_recs_clean.join(movie_ratings, ['userId','movieId'], how='left').filter(movie_ratings.rating.isNull())
  final= temp.join(movies_df, on='movieId', how='left')

  userRec = final.where(final.userId==id).toPandas()
  return userRec

In [57]:
topKRec(10,575,bestModel)

spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

   movieId  ...                                genres
0   177593  ...                           Crime|Drama
1     2160  ...                 Drama|Horror|Thriller
2   158966  ...                                 Drama
3       50  ...                Crime|Mystery|Thriller
4   104879  ...                Drama|Mystery|Thriller
5   174053  ...  Drama|Horror|Mystery|Sci-Fi|Thriller
6    48516  ...                  Crime|Drama|Thriller

[7 rows x 6 columns]

In [58]:
topKRec(10,232,bestModel)

spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

   movieId  ...              genres
0   171495  ...  (no genres listed)
1    78836  ...               Drama
2     2131  ...               Drama
3   177593  ...         Crime|Drama
4   179135  ...         Documentary
5   117531  ...         Documentary
6   184245  ...         Documentary
7     7071  ...               Drama
8    26073  ...           Drama|War

[9 rows x 6 columns]

# Find the similar movies for movie with id: 463,471

In [108]:
#generate the movie factor matrix
movie_factors= bestModel.itemFactors
#feature_len = len(movie_factors.collect()[0][1])
movie_factors = movie_factors.select(['id'] + [movie_factors.features[i] for i in range(bestModel.rank)])
movie_factors.show()

spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+---+------------+-----------+-------------+------------+------------+------------+------------+-----------+------------+-------------+------------+------------+-------------+-------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-------------+------------+-------------+------------+------------+------------+------------+------------+------------+-------------+------------+-------------+------------+------------+------------+------------+------------+-------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
| id| features[0]|features[1]|  features[2]| features[3]| features[4]| features[5]| features[6]|features[7]| features[8]|  features[9]|features[10]|features[11]| features[12]| features[13]|features[14]|features[15]|features[16]|features[17]|features[18]|features[19]|features[20]|features[21]|features[22]|features[23]|features[24]|features[25]|features[26]|features[27]|features[28]|features[29]| features[30]|features[31]|features[32]|features[33]|features[34]|features[35]|features[36]|features[37]|features[38]|features[39]|features[40]|features[41]|features[42]|features[43]|features[44]|features[45]| features[46]|features[47]| features[48]|features[49]|features[50]|features[51]|features[52]|features[53]|features[54]| features[55]|features[56]| features[57]|features[58]|features[59]|features[60]|features[61]|features[62]| features[63]|features[64]|features[65]|features[66]|features[67]|features[68]|features[69]|features[70]|features[71]|features[72]|features[73]|features[74]|features[75]|features[76]|features[77]|features[78]|features[79]|
+---+------------+-----------+-------------+------------+------------+------------+------------+-----------+------------+-------------+------------+------------+-------------+-------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-------------+------------+-------------+------------+------------+------------+------------+------------+------------+-------------+------------+-------------+------------+------------+------------+------------+------------+-------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
| 10| -0.02601018| 0.18641135|   0.15651116| -0.18235762|  -0.1522667|   0.3320552|  0.21573739|  0.0410433| -0.05180457|   0.06252074|  0.44179717| 4.992992E-4|  -0.04986808|  -0.10306402|  0.08929595| -0.24821721| -0.10713274|  0.16777442| 0.051080078| -0.16213132|   0.6335877|   0.1927447|  0.21465792| -0.20055287|  0.49759862| 0.089150295|  0.32017764|  0.17156394| -0.11397886| 0.120612286|   0.21311568|-0.010828957| -0.18674393| -0.22804745|  -0.3559612|  0.27696213|  -0.2765744| -0.21369332|  -0.3334781|  0.10270619|   0.3221156| -0.06074027| -0.27224487| -0.13522811|  0.48775336| -0.21114711|   -0.2616635|  0.06669942|  -0.07656788|-0.037350506|  0.27390605|  0.17160536|-0.043154813| -0.48563793| -0.20811345|  -0.20108284| -0.45866203|  -0.26184937| 0.068339065|  0.21635117| -0.09352244|  0.30234253|  0.23905444|  -0.10239316| -0.35370344|  0.18931276| -0.27933913|  0.14028859|  0.13846894| 0.116374746|  -0.3125972| -0.18572073| -0.32021478| 0.060076304| -0.31702942| -0.40708238| -0.47000754| -0.29118624|  0.20486781|  -0.0848149|
| 20| 0.025458345| 0.49619803| -0.024665408| 0.032119703|  -0.3500015| -0.05631321|  0.09297433| 0.14512299| -0.29880106|   0.21707739|  0.08563359| 0.011022376|  -0.11673065|  -0.09985731| 0.083615676| -0.25114086| -0.17630318|    -0.09848|  0.21319637| -0.33915013|  0.36895192|-0.012297847|-0.021322194| -0.13166265| 0.024255183|  0.36088413|  0.24567139| -0.19593017|  0.09080013|0.0084153265|   0.20653334|-0.019614212| -0.06859563| 0.018368712| -0.59284824|  0.22734007| -0.20451537| -0.12029619| -0.49763647| -0.36448124|  0.23146479| 0.003774944| -0.25385183| 0.046248708|   0.1308504| -0.28434217|  -0.20380029|-0.019868989| -0.022166925|  0.20136943|  0.10692804|  0.21785507| -0.13783295| -0.20892574|  0.15667489|  -0.06366856| -0.27171695| -0.114432454|  0.19635984|    -0.18642|  -0.1715261|  0.33744264|  0.13631272|   0.13807368| -0.20215714| 0.070714675| -0.33433765| 0.025432473|  0.05628589| 0.070331074| -0.17274584| -0.30918497|  -0.1382022|  0.03100718| -0.14032252|  -0.3135407| -0.42468348| -0.38405776| -0.18760198|  0.12023936|
| 30|  0.16602552| 0.25617388|  0.044732474| -0.21514556| -0.42346725| 0.015230173| 0.119537435|0.004475307|  -0.0829902|   0.20346382|  0.14509404|  0.02443175| -0.093831085|     0.227511| -0.05533399| -0.18905598| 0.078580566|-0.053096894|  0.18295796|-0.060764473|   0.4381359|-0.045340523|  0.27213252| -0.10675683|  0.16768907| 0.090004474|  0.14461172|  0.13384135| -0.17911147| -0.11218469|   0.25702244|  -0.1453042|  0.15402082| 0.034402512|  -0.3002973|  0.27666855|-0.060806833| -0.07189131| -0.37352338|-0.053143602|  0.27751872| -0.16695142|   -0.149735| -0.45396915|  0.06705594| -0.39270034|  0.002837976|-0.024671871|   -0.3476787|  0.10507301|  0.10591252| 0.121415175| -0.21152838| -0.21038556| -0.21706097|  -0.19792105| -0.45724615|  -0.22784717| 0.021859687|-0.022560617| -0.39170223|  0.15009652|  -0.0372745|  0.075851865|   -0.252397|  0.13633625| -0.27841622| -0.06581393|   0.3507369|   0.3202421| -0.17698656| -0.49573326|  -0.3736679| -0.12606335|  0.24729651|   -0.253282| -0.36997652| -0.14025146|   0.1914238| 0.011481389|
| 40|  -0.2425208| 0.22389896|  -0.01980042| 0.059753332| -0.21952656|  0.10241079| -0.02340745| 0.22988476|   -0.268691| -0.109410085|  0.22715124| -0.18153284|-0.0073340796| -0.004015852|  0.28079155| 0.008087529| -0.14423096| 0.034038436|  0.31236854| -0.04790437|   0.5328221|  -0.1339547|  0.51731455|  -0.0822172|  0.30727288|-0.099242255|   0.3262592| 0.027991416| -0.10213874|   0.0922602|   0.35066146| -0.11821164|  -0.3951991| -0.15672441| -0.39829853|-0.078902096| -0.20357466| -0.19025838|  -0.3843944|-0.011397735|  0.16473822|  -0.2786167| -0.22608405| -0.24559692|  0.07202627|  -0.1793639|  -0.10587008| 0.114552595|  -0.22622176| -0.31200102|   0.4645679|  0.21773404| -0.20879418| -0.43428984| -0.35840997|  0.017592449| -0.46536502|  -0.36337942| -0.19913931|  0.03532095| -0.23042226|  0.18067306|  0.16327591|    0.1732785| -0.19352701|  0.23405123| -0.28935096|  -0.2447689| 0.094996564|  0.15057164| -0.17838164| -0.35082576| -0.05893482|  0.14654523|  0.13528278| -0.40929177|  -0.4028525| -0.15185717|  -0.0874033|-0.018922044|
| 50|  0.07817284| 0.38108113| -0.013093938|-0.114586346| -0.47573462|  0.18191186| 0.077418335| 0.02250937| -0.13629785|   0.30202916|  0.18519713| 0.031473435|   -0.0897506| -0.054312143|  0.15490323|  -0.3007451| -0.08968623| 0.019055655|  0.18083335| -0.07486699|  0.67724687| 0.009555429|  0.25504503| -0.14001147|  0.15570034| 0.029755838|   0.3997098|  0.34299234| 0.054664925| -0.14380495|  0.075769596| -0.13745487|  0.09666078| -0.13074374| -0.54515594|   0.3397761| -0.11288812| -0.11989848|  -0.5551496| -0.11094109|   0.3326843|  0.06655391| -0.36161467| -0.41248938|  0.30560848|  -0.4337617|   0.11633485|  0.02577078|   -0.1993993|-0.005353198|  0.31654105|  0.14603536| -0.17682262|  -0.5467132|-0.048988625|  -0.42183667| -0.37456924|  -0.32722187|-0.054657552| 0.048686076| -0.17935553|  0.57383066|  0.09763598|   0.15100041|  -0.3947314|   0.3751909| -0.38978755|  0.05436215|  0.13134035|  0.11033716|  -0.4330915|  -0.4575057| -0.45370477|-0.029091656|  0.23629022| -0.17948487|  -0.6167449|-0.029514637|  0.14656517|  0.29488173|
| 60|-0.036099862| 0.27245584|  0.043321904| -0.36910018|  -0.3951545|  0.12567784|0.0030867043| 0.18936309|-0.020535268|   0.11187843|  0.06026249|  0.01717633| -0.053090196| -0.066412896|  -0.3311432| -0.26183382|-0.084877655|  0.17098936| 0.017537652| -0.21820529|   0.2279034| 0.059585646|   0.2867807| -0.22587158|   0.3198825|  0.13832103|  0.74223816|-0.020523231|  0.08126254| -0.11785718|   0.19458026|0.0037789475| -0.15023765|-0.044645254| -0.44572288|  0.22573616| -0.25233063|  0.16883488| -0.26075158|-0.007629744|  0.10672792|  -0.1480149| -0.27316067| -0.39220056|   0.1225868|-0.068958335|   0.06390978|  0.23860037| 0.0138727985|  -0.3100918|  0.19076636| -0.07206105| -0.13303372| -0.24973413|  -0.3612481|  -0.17928295|  -0.2360031|  -0.37545535|  0.15337789|   0.2636169| -0.23964275|  0.07501738| -0.07222887| -0.054388855| -0.26731616|  0.32628876| -0.25689217|  0.07442623|   0.2241511| 0.015825737| -0.29663402| -0.44008183| -0.06354632|-0.049005453| -0.19413297| -0.34996268| -0.27248728| -0.27171275| -0.02094963|  0.19815612|
| 70| 0.056229886|  0.4919378|   0.08893019| -0.17437194| -0.10860696|  0.31130257|-0.036370035|  0.4587153| 7.810945E-4|   0.26373717|   0.1770333|-0.011540862|  -0.16082606|-0.0021744026|  0.14918447| -0.19486699|  0.36185223|  0.22517069|   0.2508286| -0.11185558|   0.5630176| -0.18573722|  0.42260394|  -0.1550378|  0.25219485|   0.2100003|  0.13070503|  0.14466226| -0.19338003| -0.27505746|   0.31838867| -0.40273982| 0.002207001|  -0.2675009| -0.43191335|  0.50502205| -0.21063429|-0.026968813| -0.41306713|  -0.2129409|   0.2365308| -0.16469981|  -0.3119183| -0.22917584| 0.094933644| -0.18788204|  -0.13349038|  0.07314707| -0.024153808|  -0.2202041|  0.37827346|   0.2267185| -0.19368252|  -0.5512483| -0.24873489|  -0.15940666|  -0.4251526|   -0.2757665|  -0.1727978| -0.15671341| -0.22275928|   0.1666887| 0.022788268|    0.2344858|-0.037866153|  0.19294557| -0.14244132|  0.17888086|  0.31284255|-0.046040695| -0.31736484|  -0.1064035| -0.60155267| -0.08266671|-0.100867696| -0.21133126|  -0.4439189| -0.18272638|  0.29815936|  0.22402854|
|100|  0.03611168|0.108554065|-0.0010622537|-0.073779754|  -0.2568918|  0.08026135| -0.18734418| 0.22011751|  0.09034922|    0.2018176|  0.21456286| -0.09079066|  0.055074062|  -0.14659569| -0.16562597| -0.14577356| -0.22820504|  0.13515885|  0.09872955|  0.03280248|  0.18581708|  0.03808036| 0.122828014| -0.24513288|  0.19707434| -0.04614193|  0.34524652|  0.09944068| -0.17605887|  -0.0948591|    0.1933651|0.0024283906|-0.028697444| -0.30610546| -0.07911958|  0.10790065|  -0.2974496|-0.004340472| -0.20655692| -0.04935267|  0.32457784|  0.01410668| -0.09514368| -0.31961507|-0.048006333|-0.009661215|   0.12916963|    0.279215|-0.0035775413| -0.07877776|  0.23067196|  0.09074581| -0.13064125|  -0.3943136| -0.20843169|  0.006845732| -0.42364758|  -0.45939514|-0.039647296|   0.2747262|  -0.2879493|  0.22986965| -0.06572342|   0.12693112|  -0.4147814|  0.14153033|-0.027407417| 0.112873524|  0.21628045| 0.094874285| -0.18455708|  -0.5046477| -0.18485625| -0.08553156| 0.008139215| -0.31557113| -0.21850038| -0.11784499|  0.16028869|  0.17270206|
|110|    0.155237|  0.4786201|  -0.07040318| -0.15355505|  -0.3598347|-0.036676385|-0.023695251| 0.14586262|   0.1071878|  -0.08836756| 0.045874134| 0.047478367|  -0.26972672|  0.005766206| -0.08502011| -0.10066961| -0.43696657|  0.23439166|  0.14147274| -0.11928976|  0.50679684| -0.20145416|  0.28974757|-0.073698685|   0.3493633|  0.15274473|  0.43404868|  0.23468809|  0.13583694| 0.027679866|   0.20634498| -0.11124489|-0.076190256| -0.20263885| -0.67234504|  0.10249747| -0.25414807| -0.33673328| -0.23534507| -0.17909293|  0.18213232|  0.13760814| -0.36642683| -0.17113031|  0.28393355| -0.33878005|  0.014684723|  0.08575862| 4.4307488E-4| -0.03865855|   0.5645133|  0.13718335|-0.042194724| -0.45063344|  0.30198896| -0.040039886|  -0.6123075|   -0.5522123| 0.034970682|  0.18918876| -0.35549608|  0.43004793|  0.16421904|  0.019484743| -0.37178078|   0.4402956| -0.23261087| 0.018114947|  0.15514517|  0.06438479| -0.13221169|  -0.4858718| -0.19915442|  0.07140806|   0.1773967| -0.39139315| -0.52185136| -0.36435637|   0.0474365|   0.3650949|
|140|  0.24726573|0.112797365|  0.010640513| -0.22198822|  -0.2834989|    0.227134|-0.031442173| 0.16109975|  0.04167402|  0.086714745| 0.124210946| 0.013693261|   -0.2617866|  -0.10847405| -0.30446902|  -0.1637881| -0.31689167| 0.096323736| 0.070092574|  -0.2810673|   0.3670577| -0.17115182|  0.49112764| -0.19693908|  0.20189656|  0.16647674|  0.19938564| 0.027777283|  -0.1145006|-0.108351626|-0.0037020152| -0.09165735|  0.05191547|  -0.1938729| -0.29470605|  0.32768682|  -0.3228842| -0.08048188| -0.20506363|  -0.1804867|  0.11655765| 0.045128055| -0.36280864| -0.26958108|  0.22117177| -0.20044163|   0.12747627|  0.35043406|  -0.15198287|-0.030815268|  0.20579395| 0.051815238| -0.15394352| -0.38610703| 0.033825163|  -0.09031422| -0.15543576|  -0.52788955|-0.013752936|  0.11789601| -0.20453824|  0.21281971|  0.14914922|  -0.15189426| -0.45992023|  0.27986166| -0.17439012|  0.10822728|  0.07743125|   0.1558423| -0.22644182|  -0.4059831| -0.02910551| -0.18518221| 0.067361146| -0.20501256|  -0.3606943|-0.014340363| 0.105176054|  0.17472838|
|150|  0.09190368|  0.2089206| -0.013425194|-0.108678386|  -0.3101901|   0.0936603|  0.06284714|  0.1854063| -0.05771963| -0.111170106| 0.102603495|   0.0673371|  -0.33408132|  -0.03786906|-0.118405476|   -0.164673|  -0.2856189| 0.008938217|  0.15281798| -0.42610332|  0.10226905|  -0.0876351|  0.43235016| -0.17613465|   0.3275822|  0.06894203|  0.29675075|  0.10074915| 0.045850813|-0.036749106|   0.11751733|-0.024757158| 0.059931964| -0.17177929|  -0.6976912|  0.16245206|  -0.4644917|  -0.2870469|  -0.3305833| -0.17389011|  0.29588774| 0.049983125| -0.18197474| -0.20555508| 0.062167548| -0.31220374|   0.14913054|  0.17778198|   -0.2737023|-0.061569974|  0.37173912|-0.094299726|-0.019233081| -0.25001383|  -0.2819499|   0.06339945| -0.31643707|  -0.40153918|  0.09075594|  0.35754442| -0.37459117|  0.18400785|  0.09396318|-0.0031938758|  -0.3809717|  0.23260665| -0.32848084|  0.07262507|   0.2190453|  0.18039079| -0.08445932| -0.49287066| -0.21328843| -0.19917856| -0.21584903|  -0.6825357|  -0.6234939| -0.28891256|  0.16843998| 0.040775854|
|160| -0.08672462| 0.10531688|   0.15761004| -0.27752963| -0.10989317|  0.43557146| 0.094898574| 0.30313173|  0.20451708|-0.0051352833|-0.026615797| 0.011180954| -0.014098052|  -0.20117566| -0.26678252|-0.030526832|-0.099919245|  0.23437446| -0.04307496| -0.14754756|  0.13384815| -0.03902306|  0.28302214| -0.05308456|  0.23484924|    0.285535|   0.5067686|  0.08757243| 0.034321476| 0.008647256|    0.2853039|   0.1931612| -0.16857174| -0.27001217| -0.17558067| 0.015763376|  -0.3219617| -0.14375888| -0.15718289| -0.16274822|  0.02454749|  0.17171817| -0.13531521|-0.100336574|  0.31916025|   0.1181464| -0.009788051|  0.43573427|   0.26210743| -0.10298135|   0.3227111|  0.14103001| -0.08232024|  -0.5290156|-0.062837444| -0.044884034| -0.53277236|  -0.45097536|  0.08558923|  0.33388293| -0.14655899|   0.2304943| -0.09501482|   -0.2830553| -0.22086202|  0.08515632| -0.19564757|  0.20124574|  0.21318945| 0.050385937| -0.29697135|-0.015586505|  0.09295183|  -0.1576638| -0.21530287| -0.44087127| -0.22107817| -0.28720918|  -0.0798259|  0.44576848|
|170| -0.16926345| 0.16223308|  -0.09225523|  0.20353131| -0.14904836|  0.17745459|  0.12184136|0.048120413| 0.035712738|    0.1872451|  0.21658324| 0.009012802|   -0.1811051|  -0.06796825|  -0.1414309|-0.079305425|  -0.1751207| 0.105781116| -0.05428974| -0.21412559|  0.30634245| -0.08175939| 0.058105856| -0.10751303|  0.19467042|  0.10990368|   0.6207441|     0.21631| -0.07167043| -0.06313102|   0.14544821| -0.12813444| 0.035547018| -0.25660264| -0.28589123| -0.02062981| -0.17805187| -0.25701952|-0.101344004|-0.012282732|  0.17560689|-0.108111106| -0.12536363| -0.13789669|   0.5704952| -0.24273168|    0.0849632|  0.14359273| -0.091751635| -0.25084883|  0.18562737|  0.22229064|  -0.2983434| -0.58373463| -0.01095827|  -0.18358612| -0.61283296|   -0.5937564|  0.18207379| 0.107901596| -0.34652877|   0.3750484|  0.12517548|  -0.12092079| -0.31629163| 0.061304864| -0.25746408| 0.087067395|  0.11311946| 0.048792142|  -0.2898291| -0.76319325| -0.18589807| -0.05491242|  0.16560645|  -0.2735862|  -0.2444898| -0.23038907| -0.02477626|  0.28562602|
|180|-0.050438497| 0.43624493|  0.003942938|  0.12667106|  -0.1001549|  0.06381446|  0.20119157| -0.0500753| 0.097151086| -0.015968865| 6.773413E-4| 0.097290196|  -0.18952496|   0.15238832|  0.19829349|-0.013156151| 0.032368742|  0.21901044| 0.040948827|   0.1523901|   0.8524048| -0.15581681|0.0021616549| -0.24060854|  0.27326447|   0.0689009|  0.22202808|  0.30879787| -0.03458089| -0.03654792|   0.15802555|  -0.3369955|  0.14911056|0.0033488595| -0.41413125|  0.14604522| -0.05547933| -0.17853767| -0.19302677|  0.09418612| 0.096513934|-0.051983517| -0.21839136| -0.26392823|   0.3360822|  -0.1795937|   0.15959096|-0.039884564| -0.103823334| -0.11504248|   0.2657002|  0.45508838| -0.17393933|   -0.575071| -0.10946767|  -0.16744307|  -0.4176424| -0.052784517|  -0.0885146|  0.23438935| -0.22983553|   0.5159162|   0.2174681|   0.09515987| -0.27786574|   0.2727319| -0.29256612| 0.023883862|  0.18526459|  0.19226208| -0.40599534| -0.56260306| -0.49200508|  0.06294266|  0.04718463| -0.23072575|  -0.5569776| -0.08476247|   0.1418955|  0.19161612|
|190|  0.54750174| 0.33724996|   0.09799618|  -0.4009075| -0.21848212|-0.003047047|  0.39162436|-0.19510932| -0.07704391|   0.23708639|  0.09159748|  0.06961894|  0.058079604|   0.46233132| 0.025742086| 0.003896497|  0.21174453| -0.21876569|  0.29440525|  -0.2055047|   0.5426933|0.0010518659|   0.2655429|  -0.2791174|  0.04637464| -0.13157654| -0.14551339|-0.016610239|-0.076894246|-0.010118088|   0.29334345| -0.10975821|  0.17647782|  0.07749165|  -0.1641279|  0.26199248|    0.140201| -0.08965773|  -0.4433859| -0.05563635|  0.44073692| -0.35352722| 0.083949976| -0.50106406|  0.06380654| -0.16761838|  -0.10001443| -0.26344937|   -0.5025154|   0.3863278| 0.057714224| -0.15491351| -0.23307317| -0.13424392| -0.18438883|  -0.27751154| -0.49953687|-0.0044609867| -0.12932739|-0.062065665| -0.33765733|-0.014007067| -0.25269502| -0.095833965| 0.037340645|    0.247064| -0.32168695| -0.17314254|  0.20548993|  0.16556375| -0.27817288|  -0.6494856| -0.43421298| -0.12744322|   0.5894017|-0.052927773|  -0.1210785|  -0.3192579|  0.11465956|  0.11869681|

In [127]:
#generate the movie factor matrix
movieFactors= bestModel.itemFactors.toPandas()

spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

          id                                           features
0         10  [-0.02601017989218235, 0.18641135096549988, 0....
1         20  [0.02545834518969059, 0.49619802832603455, -0....
2         30  [0.16602551937103271, 0.25617387890815735, 0.0...
3         40  [-0.2425207942724228, 0.2238989621400833, -0.0...
4         50  [0.07817284017801285, 0.38108113408088684, -0....
...      ...                                                ...
8955  185029  [0.1228843405842781, 0.027487922459840775, 0.1...
8956  188189  [0.15198981761932373, 0.35885190963745117, -0....
8957  190209  [0.10802774876356125, 0.474465012550354, -0.07...
8958  190219  [0.027006937190890312, 0.1186162531375885, -0....
8959  193579  [0.05036695674061775, 0.4094966948032379, -0.0...

[8960 rows x 2 columns]

In [185]:
movies_df = movies_df.toPandas().astype({'movieId': int})

In [187]:
# Use cosine similarity method to evaluate the similarity between movies

def similarMovie(k, movieId):
  '''
  k: number of similar movies to find
  movieId: id of the movie to find similarities
  '''

  try:
    movieFeature = movieFactors.loc[movieFactors.id==movieId,'features'].to_numpy()[0]
  except:
    return 'There is no such movie with id ' + str(movieId)

  similar = pd.DataFrame(columns=('movieId','cosine_simi'))
  for id, featureList in movieFactors.to_numpy():
    cosine = np.dot(movieFeature,featureList)/(np.linalg.norm(movieFeature)*np.linalg.norm(featureList))
    similar = similar.append({'movieId': id, 'cosine_simi': cosine}, ignore_index=True)
  similar = similar.sort_values(by=['cosine_simi'],ascending=False)[1:k+1]
  similar = similar.astype({'movieId': int})
  final = similar.merge(movies_df, left_on='movieId', right_on = 'movieId', how='left')
  return final[['movieId','title','genres']]

In [188]:
similarMovie(10,463)

'There is no such movie with id 463'

In [189]:
similarMovie(10,471)

   movieId                                   title                     genres
0      708     Truth About Cats & Dogs, The (1996)             Comedy|Romance
1     6331                       Spellbound (2002)                Documentary
2      532                       Serial Mom (1994)        Comedy|Crime|Horror
3      745  Wallace & Gromit: A Close Shave (1995)  Animation|Children|Comedy
4     2723                      Mystery Men (1999)      Action|Comedy|Fantasy
5      144           Brothers McMullen, The (1995)                     Comedy
6     7266    Lost Skeleton of Cadavra, The (2002)       Comedy|Horror|Sci-Fi
7    32469                  We're No Angels (1955)         Comedy|Crime|Drama
8     6296                   Mighty Wind, A (2003)             Comedy|Musical
9       26                          Othello (1995)                      Drama

# REPORT Section